Source: awf-gtk5
Section: x11
Priority: optional
Maintainer: Fabrice Creuzot <code@luigifab.fr>
Build-Depends: debhelper-compat (= 13), bash-completion, libnotify-dev (>= 0.7.0), libgtk-5-dev
Rules-Requires-Root: no
Standards-Version: 4.7.4
Homepage: https://github.com/luigifab/awf-extended
Vcs-Browser: https://github.com/luigifab/awf-extended
Vcs-Git: https://github.com/luigifab/awf-extended.git

Package: awf-gtk5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: awf
Description: theme preview application for GTK 5
 A widget factory is a theme preview application for GTK and Qt. It
 displays the various widget types in a single window allowing to see
 the visual effect of the applied theme.
 .
 This package provides the program for GTK 5.
