[Desktop Entry]
Name=AWF ADW
Comment=A widget factory is a theme preview application for GTK and Qt.
Comment[fr]=La fabrique à widgets est une application d'aperçu de thème pour GTK et Qt.
Exec=awf-adw
Icon=awf-adw
Terminal=false
Type=Application
Keywords=gtk;css;
Categories=GTK;Development;
StartupNotify=true